.prompt-message {

  &-controller {
    padding-right: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 31px;

    &:hover {
      cursor: pointer;

      > span {
        visibility: visible;
      }
    }

    > span {
      font-size: 18px;
      color: gray;
      visibility: hidden;
    }
  }

  &-role {

    label {

      &:first-child {
        border-radius: 6px 0 0 0;
      }

      &:last-child {
        border-radius: 0 6px 0 0;
      }
    }
  }

  &-content {

    textarea {
      border-radius: 0 6px 6px 6px;
    }
  }
}
